<% provide(:title, "About") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | My Individual Project</title>
  </head>

  <body>
    <h1>About</h1>
    <p>
      Here are some general information of my individual project
    </p>
  </body>
</html>
