<% provide(:title, "About") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Liam Portfolio</title>
  </head>

  <body>
    <h1>Gallary</h1>
    <p>
      Here are some photography I took. If you like them, you can sign up and I will contact you later.
    </p>

    <div class ="image">
    <%= image_tag("img_1", alt:"Car 1" ) %>
    <div class="image-contain">
    <p2>18/12/25 Disney Land</p2>
    </div>
    </div>

    <div class ="image">
    <%= image_tag("img_2", alt:"Car 1" ) %>
    <div class="image-contain">
    <p2>18/12/25 Disney Land</p2>
    </div>
    </div>



  </body>
</html>
