<% provide(:title, "About") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Liam Portfolio</title>
  </head>

  <body>
    <h1>About</h1>
    <p>
      Here are some photography I took. If you like them, you can sign up and I will contact you later.
    </p>

    <div class ="image">
    <%= image_tag("img_1.jpg", alt:"Car 1" ) %>
    <div class="image-contain">
    <p2>17/12/25 Disney Land</p2>
    </div>
    </div>

    <div class ="image">
    <%= image_tag("img_2.jpg", alt:"Car 2" ) %>
    <div class="image-contain">
    <p2>17/12/25 Disney Land</p2>
    </div>
    </div>

    <p align ="justify">
      This is also a show case of my experience in developing a Ruby on Rails web application. The development process is credit to Ruby on Rails Tutorial by Michael Hartl and Grinnell College CSC 324.
    </p>

    <p align ="justify">
      This website are mostly static pages. The site navigation is complete by a shared html file that gives consistent look through the website. Also, to add picture to this website, I uses asset pipeline and image tag. For the dynamic page, a contact page is for people who want to contact me and leave their name and email. Their information will be stored in the database of this website and this database is called Active Record. This app also have an automated test system that checks if each action in the application has desired result. This application is hosted on Heroku, a place where I can host it freely. The whole process from design to development, from test to launch is a full show case of my Ruby on Rails application development.
    </p>



  </body>
</html>
