<% provide(:title, "About") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Ruby on Rails Tutorial Sample App</title>
  </head>
  <ul>
    <li><a href="home.asp">Home</a></li>
    <li><a href="help.html">help</a></li>
    <li><a href="about.html">About</a></li>
  </ul>
  <body>
    <h1>About</h1>
    <p>
      Here are some general information of my individual project
    </p>
  </body>
</html>
