<% provide(:title, "Help") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | My Individual Project</title>
  </head>

  <body>
    <h1>Help</h1>
    <p>
      This is the Help page of my individual project
    </p>
  </body>
</html>
