<% provide(:title, "Home") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Ruby on Rails Tutorial Sample App</title>
  </head>
  <ul>
    <li><a href="home.asp">Home</a></li>
    <li><a href="help.html">help</a></li>
    <li><a href="about.html">About</a></li>
  </ul>
  <body>
    <h1>Individual Project</h1>
    <p>
      This is the home page for the individual project
      <a href="https://github.com/Liamlhy/static_page_app">github repo</a>
      is here.
    </p>
  </body>
</html>
