<% provide(:title, "Home") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | My Individual Project</title>
  </head>
  <ul>
    <li><a href=".">Home</a></li>
    <li><a href="/help.html">help</a></li>
    <li><a href="/about.html">About</a></li>
    <li><a href="/signup.html">Signup</a></li>
  </ul>
  <body>
    <h1>Individual Project</h1>
    <p>
      This is the home page for the individual project
      <a href="https://github.com/Liamlhy/static_page_app">github repo</a>
      is here.
    </p>
      <p> Feel Lucky? Find your luck number Today
        <a href="/roll.html">Roll</a>
      </p>
  </body>

  <div class="center jumbotron">
  <h1>Welcome to the Sample App</h1>

  <h2>
    This is the home page for the
    <a href="https://www.railstutorial.org/">Ruby on Rails Tutorial</a>
    sample application.
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>


</html>
