<% provide(:title, "Home") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | My Individual Project</title>
  </head>
  <ul>
    <li><a href="home.html">Home</a></li>
    <li><a href="static_pages/help.html">help</a></li>
    <li><a href="static_pages/about.html">About</a></li>
  </ul>
  <body>
    <h1>Individual Project</h1>
    <p>
      This is the home page for the individual project
      <a href="https://github.com/Liamlhy/static_page_app">github repo</a>
      is here.
    </p>
      <p> Feel Lucky? Find your luck number Today
        <a href="static_pages/roll.html">Roll</a>
      </p>
  </body>
</html>
