<% provide(:title, "Roll") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | My Individual Project</title>
  </head>
  <ul>
    <li><a href="/home.html">Home</a></li>
    <li><a href="/help.html">help</a></li>
    <li><a href="/about.html">About</a></li>
  </ul>
  <body>
    <h1>Roll</h1>
    <p>
      <p><%= @result %></p>
      <p> <a href="/roll.html">Roll Again</a>
      </p>
    </p>
  </body>
</html>
