<% provide(:title, "Roll") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | My Individual Project</title>
  </head>

  <body>
    <h1>Roll</h1>
    <p>
      <p><%= @result %></p>
      <p> <a href="/roll.html">Roll Again</a>
      </p>
    </p>
  </body>
</html>
